.main-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
}

.boxes-wrapper {
  border-radius: 20px;
  transition: 0.3s;
  background-color: #5f81af;
  box-shadow: -5px -5px 12px #b7c8e3, 5px 5px 12px #2c213b;
}

.header-wrapper {
  grid-column: 2/4;
}

.contacts-wrapper {
  grid-column: 1;
  grid-row: 2/4;
}

.info-wrapper {
  grid-column: 2/4;
  grid-row: 2/4;
}

.projects-wrapper {
  grid-column: 4;
  grid-row: 1/3;
}

.photo-wrapper {
  box-shadow: -5px -5px 9px #b7c8e3, 5px 5px 9px #2c213b;
}

/* dark mode */
.boxes-wrapper.dark {
  background-color: #646464;
  box-shadow: -5px -5px 12px #c0c0c0, 5px 5px 12px #282828;
}

.photo-wrapper.dark {
  box-shadow: -5px -5px 12px #c0c0c0, 5px 5px 12px #282828;
}
/* __________ */

/* light mode */
.boxes-wrapper.light {
  background-color: #bababa;
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px #3c3c3c;
}

.photo-wrapper.light {
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px #3c3c3c;
}
/* __________ */
